*{
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.bg_grey:before {
    background-color: rgb(106, 99, 99);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
}

.bg-green{
    background-color: #8DB524E5;
}

.bg-violet{
    background-color: #8961A6E5;
}

.bg-red{
    background-color: #D41217E5;
}

.bg-orange{
    background-color: #F39332E5;
}

.bg-blue{
    background-color: #18b8e7;
}

.bg-gray{
    background-color: #414141;
}

.bg-green-light{
    background-color: rgba(141, 181, 36, 0.2);
}

.bg-violet-light{
    background-color: rgba(137, 97, 166, 0.2);
}

.bg-red-light{
    background-color: rgba(212, 18, 23, 0.2);
}

.bg-orange-light{
    background-color: rgba(243, 147, 50, 0.2);
}

.bg-orange-light{
    background-color: rgba(243, 147, 50, 0.2);
}

.bg-blue-light{
    background-color: rgba(24, 184, 231, 0.2);
}

.bg-gray-light{
    background-color: rgba(65, 65, 65, 0.2);
}



.violet{
    color: #8961A6E5 !important;
}
.green{
    color: #8DB524E5 !important;
}
.red{
    color: #D41217 !important;
}

.orange{
    color: #F39332E5 !important;
}

.blue{
    color: #18b8e7;
}

.ray{
    color: #414141;
}

.hidden {
    display: none;
}

.cookie-text p {
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
}
.cookie-text a {
    color: #4A4A4A;
}

hr{
    border-top: 1px solid #D41217 !important;
}

.btn-red {
    background-color: #D41217 !important;
    color: white !important;
    width: 180px;
}

.btn-red:hover {
    background-color: darkred;
    color: white;
}

.btn.btn-white{
    background-color: #fff;
}

.menu-group-upper .menu-item{
    text-decoration: none;
    color: #4A4A4A;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.header-bottom .items-right h4{
    list-style: none;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 129px;
    height: 28px;
    margin-bottom: -10px;
}

.hero{
    height: 100vh;
}

.hero img{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.socials .social{
    width: 20%;
}
.socials .social img{
    width: 40px;
}