html, body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.bg_grey:before {
    background-color: rgb(106, 99, 99);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
}

.cookie-text p {
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
}
.cookie-text a {
    color: #4A4A4A;
}

.btn_red {
    background-color: #D41217 !important;
    color: white !important;
    width: 180px;
}

.btn_red:hover {
    background-color: darkred;
    color: white;
}
